click==6.6
docopt==0.6.2
facebook-sdk==1.0.0
Flask==0.11.1
Flask-Script==2.0.5
Flask-WTF==0.12
funcsigs==1.0.2
IndicoIo==0.16.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mock==2.0.0
nltk==3.2.1
nudepy==0.2
oauthlib==1.1.2
pbr==1.10.0
peewee==2.8.1
Pillow==3.3.0
pipreqs==0.4.4
requests==2.10.0
requests-oauthlib==0.6.2
six==1.10.0
textblob==0.11.1
tweepy==3.5.0
Werkzeug==0.11.10
wget==3.2
WTForms==2.1
yarg==0.1.9
