/*
 * colors:
 *  blue: #0e79b2
 *  darker blue: #26547c
 * 	black: #000000
 *  white: #eff2ef
 *	orange: #f39237
 */

/* --- tag styles --- */
body {
	background-image: url("../sayagata-400px.png");
    background-color: #eff2ef;
    display: flex;
    flex-direction: column;
	min-height: 100vh;
	line-height: 1.5;
}

main {
	flex: 1 0 auto;
}
	
a {
    text-decoration: none;
}
/* --- end tag styles --- */

/* --- header/footer styles --- */
.headfoot {
	background-color: #0e79b2 !important;
}
/* --- end header/footer styles --- */

/* --- image box styles --- */
#image-box {
    text-align: center;
    background-position: center center;
    background-size: cover;
}

#image-box h1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 150px;
    font-weight: bold;
    color: white;
    font-size: 90px;
    border: solid 5px white;
    border-radius: 20px;
    padding: 5px 20px;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    #image-box h1 {
        font-size: 70px;
        border: solid 3px white;
        border-radius: 15px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 600px) {
    #image-box h1 {
        font-size: 35px;
        border: solid 2px white;
        border-radius: 10px;
        padding: 5px 10px;
    }
}
/* --- end image box styles --- */

/* --- content styles --- */

.clear-text-effect {
    text-transform: none;
	color: inherit;
}

.section {
    margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 90% !important;
	max-width: 1200px !important;
}
/* --- end content styles --- */
