/* --- content styles --- */
h4 {
	margin-top: 40px;
	text-align: center;
}

hr {
	margin-top: 60px;
	margin-bottom: 40px;
	display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #26547c;
}

.button-primary {
    background-color: #0a4883;
    border-radius: 4px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* --- end content styles --- */
