	body{
		width:100%
		height: 100%
		overflow: hidden;
	}
	
	.spinner{
		width: 100px;
		height: 100px;
		
		border: 2px solid #000000;
		border-top: 3px solid #0e79b2;
		border-radius: 100%;
		
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		
		animation: spin 0.75s infinite linear;
	}
	
	@keyframes spin{
		from{
			transform: rotate(0deg);
		}to{
			transform: rotate(360deg);
		}
	}