{% set extra_css = ["index", "loading"] %}
{% extends "base.html" %}

{% block header_content %}
<h1>{{ global_config.APP_NAME }}</h1>
{% endblock %}

{% block content %}
<div class="section">
	<div id="about" class="row">
        <div class="col s12">
			<div class="card light-blue darken-2 z-depth-1">
				<div id="card-design" class="card-content white-text">
  					<span class="card-title">Applying for a school, internship or job?</span> 
					<p>Worried about your past actions on social media? Web Makeover is a free and easy to use tool that scans all your favorite social media platforms and warns you about content that may impede your application. All you need to do is provide your account link; Web Makeover handles the rest.</p>
				</div>
			</div>
		</div>
	</div>
	
	<hr>

	<!-- Facebook -->
	<div id="social-margin" class="row">
		<div class="col s6">
			<a href="{{ url_for('fb.show_results', user='me') }}" id="my_results">
				<div id="fb" class="card light-blue z-depth-1">
					<div id="card-design-invert" class="card-content white-text hoverable">
						<span class="card-title">Facebook</span>
						<p> Click on this card to view your own profile or enter the link or username of a public Facebook Page to get started.</p>
					</div> 
				</div>
			</a>
		</div>
		<div class="col s6">
			<form class="col s12" method="POST" action="{{ url_for('fb.parse_url') }}">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<div class="row">
					<div class="input-field col s12">
						<input class="validate" type="text" id="fb_url" name="fb_url">
						<label for="fb_url">Facebook Page URL</label>
					</div>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Evaluate
					<i class="material-icons right">input</i>
				</button>
			</form>
		</div>
	</div>
	<!-- end Facebook -->

	<!-- Twitter -->
	<div id="social-margin" class="row">
		<div class="col s6">
			<form class="col s12" method="POST" action="{{ url_for('twitter.parse_url') }}">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<div class="row">
					<div class="input-field col s12">
						<input class="validate" type="text" id="twitter_url" name="twitter_url">
						<label for="twitter_url">Twitter Profile URL</label>
					</div>
				</div>
				<button class="btn waves-effect waves-light" type="submit" name="action">Evaluate
					<i class="material-icons right">input</i>
				</button>
			</form>
		</div>
		<div class="col s6">
			<div id="tw" class="card light-blue z-depth-1">
				<div id="card-design-invert" class="card-content white-text">
					<span class="card-title">Twitter</span>
					<p>Enter the link or username of your Twitter profile to get started.</p>
				</div> 
			</div>
		</div>
	</div>
	<!-- end Twitter -->
</div>
{% endblock %}

{% block footer_content %}
<h4>Here goes monetization info.</h4>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$("form").submit(function() {
		$('#all-content').html(`{% include "loading.html" %}`)
	});
	$("#my_results").click(function() {
		$('#all-content').html(`{% include "loading.html" %}`)
	});
</script>
{% endblock %}
