{% set extra_css = "index" %}
{% extends "base.html" %}

{% block header_content %}
<h1>Web Makeover</h1>
{% endblock %}

{% block content %}
<div class="container">
	<div id="main-content">
		<p class="center">
			Applying for a school, internship or job? Worried about your past actions on social media? Web makeover is an free and easy to use tool that scans all your
			social media platforms, and warns about any content that may impede your application. All you need to do is provide web makeover with links to your posts,
			and we will suggest content that you may want to remove from your account.
		</p>

		<!-- Facebook -->
		<div class="row">
			<form class="col s12" method="POST" action="{{ url_for('fb.parse_url') }}">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<div class="row">
					<div class="col s12">
						<h4>Facebook</h4>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
					
					</div>
					<div class="input-field col s6">
						<input class="validate" type="text" id="fb_url" name="fb_url">
						<label for="fb_url">Facebook Page URL</label>
					</div>
				</div>
			</form>
		</div>
		<!-- end Facebook -->

		<hr>

		<!-- Twitter -->
		<div class="row">
			<form class="col s12" method="POST" action="{{ url_for('twitter.parse_url') }}">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<div class="row">
					<div class="col s12">
						<h4>Twitter</h4>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input class="validate" type="text" id="twitter_url" name="twitter_url">
						<label for="twitter_url">Twitter Account URL</label>
					</div>
				</div>
			</form>
		</div>
		<!-- end Twitter -->

	</div>
</div>
{% endblock %}
